ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.active {
    background-color: lightgreen;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Raleway', cursive;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

div.gallery {
    margin: 100px;
    border: 1px solid #ccc;
    float: left;
    width: 500px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

hr.main {
    border: 2px solid rgb(73, 73, 73);
    border-radius: 5px;
}

img {
    border-radius: 10px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    text-align: center;
    color: lightseagreen;
}

p {
    text-align: center;
    font-family: 'Raleway', cursive;
    font-size: 35px;
}