ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.active {
    background-color: lightgreen
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Raleway', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1 {
    font-family: 'Raleway', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    text-align: center;
}

h2 {
    font-family: 'Raleway', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: black;
}

p {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 72px;
    text-align: left;
}

h3,
h4 {
    font-family: 'Raleway', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: black;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}